body {
    background-color: rgb(91, 91, 206);
}
#content{
    color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    max-width: 39rem;
}

img{
    width: 20rem;
}